<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="flex flex-col justify-center items-center h-screen bg-gray-100">
    <div class="text-center">
        <h1 class="text-red-500 text-[3rem]">The link is expired, Please try again.</h1><br>
        <a href="http://localhost:5173/" class="mt-4 p-2 rounded-sm bg-teal-500 text-white text-[1.5rem]">Home</a>
    </div>
</body>
</html>